.form{
  width: 700px;
  background-color: white;
  border: 0.5px solid grey;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 0 15px rbga(0,0,0,0.8);
  border-radius: 5px;

  h1{
    text-align: center;
  }

}
